$success:#52c41a;
$warning:#faad14;
$error:#f5222d;
$title:rgba(0, 0, 0, .85);
$main:rgba(0, 0, 0, .65);
$sub:rgba(0, 0, 0, .45);
$disabled:rgba(0, 0, 0, 0.25);
$border:rgba(0, 0, 0, .15);
$divider:rgba(0, 0, 0, .09);
$bg:rgba(0, 0, 0, .04);
$habg:#f0f8ff;
$hover:#72abfc;
$p:#4587f0;
$p1:#f0f8ff;
$p2:#edf6ff;
$p3:#c4e1ff;
$p4:#9cc8ff;
$p5:#72abfc;
$p6:#4587f0;
$p7:#3066c9;
$shadow:0 2px 8px rgba(0, 0, 0, .15);
$borderbase:1px solid rgba(0, 0, 0, .15);